body {
	background-color: #afafbb;
}

h1 {	
    color: #313131;
    font-family: 'Imprima', sans-serif;
    text-align: center;
    font-size: 50px;
    background-color: snow;
}

.la-a{
	font-family: 'Imprima', sans-serif;
    border: 1px solid snow;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    border-radius: 20px;
    padding: 10px;
}

.la-a:hover, .la-a:active {
    color: #313131;
    background-color: snow;
}

.lista{
	text-align: center;
}

.el-texto{
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    margin: 10px 570px;
    overflow: scroll;
    overflow-x: hidden;
}
.el-boton{
    font-family: 'Imprima', sans-serif;
    margin: 5px 640px;
}